spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: ${PORT:8080}

app:
   cors:
      allowed-origins:
         - http://localhost:5173
         - http://localhost:3000
         - http://127.0.0.1:3000
         - https://first-kitchen-frontend-new.vercel.app


